body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    background-color: #B4CF66;
    padding: 24px;
}

img {
    height: 200px;
}

h1 {
    color: #146152;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #FF5A33;
}

nav>a {
    color: white;
}

a:hover {
    color: green;
} 

div>h3>a {
    color: #44803F;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

tbody>tr:nth-child(even) {
    background-color: lightgray;
}